.footer{
    background: $darkblue;
    padding: 24px 0;
}

.footer-wrap{
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 -15px;
  
  .footer-text {
      text-align: center;
    p{
        font-weight: 400;
        color: $footergrey;
        text-transform: capitalize;

    }
    span{
        color: $white;
    }
  }
}