@import "cdn.scss";
@import "colors.scss";
@import "font.scss";
@import "header.scss";
@import "benefits.scss";
@import "design.scss";
@import "team.scss";
@import "slider.scss";
@import "download.scss";
@import "location.scss";
@import "footer.scss";



* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
html {
  font-family: $raleway;
  font-size: $_16px;
  background: $white;
  @media (max-width: 1200px) {
    font-size: 13px;
  }
  @media (max-width: 992px) {
    // font-size: 16px;
  }
  @media (max-width: 767px) {
    font-size: 12px;
  }
 
}

.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
  position: relative;
  z-index: 10;
 
  @media (max-width: 992px) {
    max-width: 750px;
  }
  @media (max-width: 767px) {
    max-width: 100%;
  }
  @media (max-width: 430px) {
    max-width: 100%;
  }
}

section {
//   padding: 0 0 115px;
  padding: 115px 0;
}
.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -15px;
  @media (max-width: 992px) {
    justify-content: center;
  }
}
p {
  font-size: $_18px;
  color: $darkgrey;
}
